* {
    margin: 0;
    padding: 0;
}


.se1-main, .se2-main, .se4-main {
    overflow-x: hidden !important;
}

/* ------------- social icons -------------- */
.social-icons-f-y-i {
    padding-left: 30px;
}
.social-icons {
    width: 100%;
    height: 41px;
    color: #e0e0e0;
}
.a-social-icons {
    padding: 10px;
    display: block;
    float: left;
    color: white;
}
/* ------------- social icons - end -------------- */

/* --------------------------------- se1 --------------------------------------- */
.se1-1 {
    color: #e0e0e0;
    display: flex;
    align-items: flex-start;
    Justify-content: flex-end;
}
.se1-block-1 {
    padding: 50px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}
.se1-2 {
    color: #e0e0e0;
    display: flex;
    align-items: flex-end;
}
.se1-block-2 {
    padding-top: 500px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.se1-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/se1-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(1.05);
    background-attachment: fixed;
}
.se1-h1 {
    font-size: 56px;
    font-family: "Segoe Script";
    text-transform: uppercase;
}

.se1-h2 {
    font-family: "Segoe Script";
    font-size: 56px;
    text-transform: uppercase;
}

/* --------------------------------- se1-end --------------------------------------- */

.black-block {
    height: 150px;
    background-color: #171717;
    color: whitesmoke;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Segoe Script";
}

/* --------------------------------- se2 --------------------------------------- */
.se2-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/workplace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.se2-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.se3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.se3-block {
    color: white;
    width: 64%;
    margin: 15px;
    text-align: center;
    font-size: 40px;

}
.se3-block-img {
    width: 180px;
    height: 120px;
}
.se3-block-p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
    font-style: oblique;
    margin: 10px;
    font-weight: 100;
    text-indent: 40px;
}
.se3-block-p-show{
    display: none;
}
.se3-block-h5 {
    margin: 10px;
    font-family: "Segoe Script";
    font-size: 56px;
    text-transform: uppercase;
}
.se3-block-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: "Segoe Script";
}
.se3-block-button:hover {
    background-color: #a4b09b;
    color: white;
}

/* --------------------------------- se2-end --------------------------------------- */

#se2-main {
    background-color: #f0f4f5;
    width: 100%;
}

.se1-h1 {
    text-transform: uppercase;
    margin: 10px;
    font-size: 48px;
}

.se1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.se1-block {
    text-align: center;
    width: 50%;
    margin: 20px;
    height: auto;
}
.se1-right-image {
    width: 100%;
    object-fit: contain;
}
.se1-left-text-p {
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    text-indent: 40px;
    font-size: 20px;
    font-weight: 100;
}
#se1-h1-br {
    display: none;
}

/* --------------------------------- se3-end --------------------------------------- */
/*------------------*/
/*
.se3-black-line {
    background-color: #171717;
    height: 50px;
}
*/
/*------------------*/
#se3-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-right: 3%;
    background-color: whitesmoke;
}
.se3-b{
    width: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.se1-left-text-p {
    margin-right: 2%;
    font-size: 30px;
    font-style: oblique;
    font-weight: 100;
}
.se3-img-my {
    width: 100%;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 10%;
    border: 10px inset #424a52;
    filter: brightness(0.9);
}

.se3-b-button {
    background-color: #171717;
    color: whitesmoke;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Segoe Script";
    font-weight: 600;
    letter-spacing: 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}
.se3-b-button:hover {
    background-color: #a4b09b;
}
.se3-show {
    display: none;
}


/* --------------------------------- se3 --------------------------------------- */


.se4-main-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/workplace2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}


/* --------------------------------- se4 --------------------------------------- */

.se4-main {
    background: linear-gradient(#424a52,#171717);
    padding-top: 1%;
    padding-bottom: 1%;

}
#se4-h1 {
    color: whitesmoke;
    font-size: 56px;
}

.se4 {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.se4-img {
    cursor: pointer;
    width: 27%;
    margin: 1%;
}
.se4-img:hover {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    filter: opacity(70%);
}
/* --------------------------------- Modal window ----------------------------------*/
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 90%;
    padding-bottom: 10%;
    height: 100%;
}

.modal-main-img {
    display: flex;
    Justify-content: center;
    background-color: black;
    align-items: stretch;
    padding-bottom: 5%;
}

.bottom-images-modal {
    display: flex;
    Justify-content: center;
    background-color: black;
    align-items: stretch;
}

.column {
    width: 11.1%;
    height: 11.1%;
}
.img-modal {
    width: 100%;
    height: 100%;
    position: center;
}

.demo {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}



/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    width: 50%;
    height: 50%;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}



.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* --------------------------------- Modal window ----------------------------------*/

/* --------------------------------- se4-end --------------------------------------- */

.se5-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/end-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}

/* ------------------------------------ scroll-up -------------------------------*/

.scroll-up {
    background: linear-gradient(black, #5e5d5d);
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    color: #dcdcdc;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px #dcdcdc;
    transition: .2s;
    opacity: 50%;
    transform: translateY(25px);
}
.scroll-up:hover {
}

.scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    content: '↑';
}

.scroll-up:hover {
    color: grey;
}

.scroll-up--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.scroll-up__svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: grey;
    stroke-width: 4px;
    transition: .2s;
}
/*
.scrollUp {
    display: none;
    position: absolute;
    right: 4%;
    bottom: 4%;
    outline: none;
}
.scrollUp:hover,
.scrollUp:focus {
    filter: brightness(1.1);
    transition: 0.5s;
}

.scrollUp::before,
.scrollUp::after {
    content: '';
    position: absolute;

}
.scrollUp-img {
    width: 60px;
}
 */

/* ------------------------------------ scroll-up-end -------------------------------*/

@media all and (max-width: 700px) {

    * {
        margin: 0;
    }

}